<tr id = "<%=node.id%>">
	<td><%= node.name %></td>
	<td><%= node.category %></td>
	<td> 
		<%if(current_user.admin?)%>
			<%= link_to 'Destroy', node, :class =>'btn btn-small btn-danger', :confirm => 'Are you sure?', :method => :delete %>
		<%else%>
		    <%= link_to 'Destroy', node, :class =>'btn btn-small btn-danger' ,:confirm => 'Are you sure?', :method => :delete, :remote => true %>
		<%end%>
		<%= link_to 'Edit', edit_node_path(node), :class =>'btn btn-small btn-primary' %>
		<input type="button" class="btn btn-small btn-success" value="show" name="showOnMap" onclick="map.showNode('<%= node.name %>', '<%= node.path %>', false)" />
	</td>
</tr>