<body onload="showNode()">
	<br />
	<div class="container-fluid">
		<div class="row-fluid" id="hasmap">
			<div class="span6">
				<p id="notice">
					<%= notice %>
				</p>
				
				<h1>My Nodes</h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Category</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% @nodes.each do |node| %>
						<tr>
							<td><%= node.name %></td>
							<td><%= node.category %></td>
							<td> <%= fields_for :node do |f|%>
							<%= f.hidden_field :_destroy %>
							<input type="button" class="btn btn-small btn-danger" value="remove" name="removeNode" onclick="map.clearNode();remove_node(this,'<%= node.id %> ')" />
							<% end %>
							<%= link_to 'Edit', edit_node_path(node), :class =>'btn btn-small btn-primary' %>
							<input type="button" class="btn btn-small btn-success" value="show" name="showOnMap" onclick="map.showNode('<%= node.name %>', '<%= node.path %>', false)" />
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<h3>
				<%= link_to 'New', :action => "new" %>
				</h3>
			</div>
				<div class="span6" id="map_canvas"  ></div>
	
		</div>
	</div>
</body>