<body onload="showNode()" style="height:90%; background-color: #EEEEEE">
	<br />
	<div class="container-fluid" style="height: 100%;">
		<div class="row-fluid" id="hasmap" style="height: 100%; " >
			<div class="span6" >
				<p id="notice" >
					<%= notice %>
				</p>
				
				
				<h1>My Nodes</h1>
				<table class="table table-striped" >
					<thead>
						<tr>
							<th>Name</th>
							<th>Category</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% @nodes.each do |node| %>
						<tr id="row<%= node.id %>">
							<td><%= node.name %></td>
							<td><%= node.category %></td>
							<td> <%= fields_for :node do |f|%>
							<input type="button" class="btn btn-small btn-danger" value="remove" name="removeNode" onclick="map.clearNode();remove_node('<%= node.id %> ')" />
							<% end %>
							<%= link_to 'Edit', edit_node_path(node), :class =>'btn btn-small btn-primary' %>
							<input type="button" class="btn btn-small btn-success" value="show" name="showOnMap" onclick="map.showNode('<%= node.name %>', '<%= node.path %>', false)" />
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<h3 >
				<%= link_to 'New', :action => "new" %>
				</h3>
			</div>
				<div class="span6" id="map_canvas" style="height: 100%" ></div>
	
		</div>
	</div>
</body>