<body onload="initView()">
    <div id="search_map" style="width:100%; height:100%"></div>
    <br />
   
   <p id="notice"><%= notice %></p>

<%= link_to 'New', :action => "new" %>
<br />
<br />
<br />

<% @nodes.each do |node| %>
<ol>
	<p>
  <b>Name:</b>
  <%= node.name %>
</p>

<p>
  <b>Category:</b>
  <%= node.category %>
</p>
<p>
	<%= fields_for :node do |f|%>
			<%= f.hidden_field :_destroy %>
			<input type="button" value="remove" name="removeNode" onclick="remove_node(this,'<%= node.id %> ')" />
	
		<% end %>
	<%= link_to 'Edit', edit_node_path(node) %> 
	<input type="button" value="show" name="showOnMap" onclick="showNode('<%= node.path %>')" />
</p>
</ol>
<% end %>



</body>