<div class="container">
		<div class="row">
			<div class="span12">
				<h2>Resend unlock instructions</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post ,:class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
			<%= f.label :email ,:class =>'control-label' %>
			<div class="controls">
			<%= f.email_field :email,:class =>'email-field' %>					
			</div>
		</div>

 <div class="form-actions"><%= f.submit "Resend unlock instructions" ,:class =>'btn btn-small btn-primary' %><br/><br/><br/>
<% end %>

<%= render :partial => "devise/shared/links" %></div>
</div></div></div>
