<div class="container">
		<div class="row">
			<div class="span12">
	
	<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name) , :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="control-group">
			<%= f.label :email ,:class =>'control-label' %>
			<div class="controls">
			<%= f.email_field :email,:class =>'email-field' %>					
			</div>
		</div>
<div class="control-group">
			<%= f.label :password ,:class =>'control-label' %>
			<div class="controls">
			<%= f.password_field :password ,:class =>'password-field' %>					
			</div>
		</div >

  <% if devise_mapping.rememberable? -%>
    <div ><%= f.check_box :remember_me ,:class =>'btn' ,:style =>'margin-left:17%;' %> <%= f.label :remember_me ,:style =>'float:right;padding-right:72%;' %></div>
 <% end %>

  <div class="form-actions"><%= f.submit "Sign in" ,:class =>'btn btn-small btn-primary' %><br/><br/><br/>
<% end %>

<%= render :partial => "devise/shared/links" %></div>
</div></div></div>