<div id="sub_route_index">
	<fieldset>
		<div class="control-group">
			<%= f.label :duration, "Time to next stop" , :class =>'control-label' %>
			<div class="controls">
				<%= f.select :duration_hours, Array.new(4) {|i| "#{i} hours"}, :selected => get_hours(f.object.duration) %> :
				<%= f.select :duration_minutes, Array.new(6) {|i| "#{i*10} minutes"}, :selected => get_minutes(f.object.duration) %>
			</div>
		</div>
		<%= f.fields_for :dest , :html => { :class => 'form-horizontal' } do|f_dest|%>
			<%= render "nodes/node_fields", :f => f_dest, :show_category => false, :editable => f_dest.object.id.nil?%>
		<% end %>
		<%= f.hidden_field :_destroy %>
		<%= f.hidden_field :id %>
	</fieldset>
</div>
