<body id="bodyId" onload="editRoutes();prepare_form()">
	<div id="map_canvas" style="width:100%; height:100%"></div>
	<div class="container">
		<div class="row">
			<div class="span9">
				<p>
					<%= notice %>
				</p>
				<%= form_for @route , :html => { :class => 'form-horizontal' } do |f_route| %>
				<div id="sub_routes">
					<%= f_route.fields_for :sub_routes , :html => { :class => 'form-horizontal'} do |f_sub_routes|%>
					<%= render "sub_route_fields", :f => f_sub_routes %>
					<%end%>
					<br/>
				</div>
				<hr width="50%" align="left"/>
				<div>
					<fieldset>
						<%= f_route.fields_for :transportation, Transportation.new , :html => { :class => 'form-horizontal' }  do |f_trans| %>
						<div class="control-group">
							<%= f_trans.label :category, "Transportation" ,:class =>'control-label'%>
							<div class="controls">
								<%= f_trans.select :category, ["Autobus", "Microbus", "Tram", "Train"]  %>
							</div>
						</div>
						<%end%>
						<div class="control-group">
							<%= f_route.label :cost, "Cost",:class =>'control-label' %>
							<div class="controls">
								<%= f_route.text_field :cost ,:class =>'text_field' %>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="form-actions">
					<%javascript_tag do%>
					window.sub_route_element = <%= get_stop(f_route)%>;
					<%end%>
					<%= f_route.submit(:class =>'btn btn-small btn-primary')  %>
				</div>
				<%end%>
				<br/>
			</div>
		</div>
	</div>
</body>
<%= javascript_tag do %>
window.routeStops = <%= raw @route.sub_routes.to_json(
  :include => {
  :dest => {:only =>[:path, :name]}
  },
  :only => {} ) %>;
<% end %>
<%= javascript_tag do %>
window.nodes = <%= raw Node.search(:category_eq => "District").all.to_json(:only => [:name, :path, :id] ) %>;
<% end %> 