<div class="container-fluid" style="height: 100%;">
	<div class="row-fluid" id="hasmap" style="height: 100%; " >
		<p id="notice">
			<%= notice %>
		</p>
		<%if current_user.admin?%>
			<% id = "admin_routes_table"%>
		<%else%>
			<% id = "user_routes_table"%>
		<%end%>
		<label class="label label-info"><h2>All Routes</h2></label>
		<%if current_user.admin?%>
			<div class="well form-vertical">
				<label class="label"><h3>Advanced Search</h3></label>
				<% form_for @search do |f| %>
					<%= f.label :sub_routes_src_name_or_sub_routes_dest_name_like, "Passing By: " %>
					<%= f.text_field :sub_routes_src_name_or_sub_routes_dest_name_like, :class => "auto" %>
					<%= f.label :cost_gte, "Cost Range: " %>
					<%= f.text_field :cost_gte%> - <%= f.text_field :cost_lte %><br/>
					<%= f.submit "Search" %>   <br/>
				<% end %>
			</div>
		<% end %>
		<table id=<%= id%> class="table table-striped table-bordered" >
			<thead>
				<tr>
					<th>Source</th>
					<th>Destination</th>
					<th>Cost</th>
					<th>Using</th>
					<th>Description</th>
					<th>Feedback</th>
					<% if (current_user.admin?)%>
						<th>User</th>
					<%end%>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<%= render @routes, :confirm => false %>
			</tbody>
		</table>
		<% if current_user.admin?%>
			<%= will_paginate @routes%>
		<%end%>
	</div>
</div>