<body onload="search()" style="height:90%;">
	<div class="container-fluid" style="height: 100%;">
		<div class="row-fluid" id="hasmap" style="height: 100%; " >
			<div class="span6" >
				<%= form_tag("/routes/search" ,:html => { :class => 'form-horizontal' }, :method => "get") do |f|%>
				<fieldset>
					<div class="control-group">
						<label class="control-label" style="float:left;padding-right: 5%">Source District</label>
						<div class="controls">
							<input id="src" name="src" type="text" class="auto search-query text_field"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" style="float:left;padding-right: 1.3%">Destination District</label>
						<div class="controls">
							<input id="dest" name="dest" type="text" class="auto search-query text_field" />
						</div>
					</div>
				</fieldset>
				<div class="form-actions">
					<%= submit_tag("Search",:class =>'btn btn-small btn-primary',:style =>'margin-left:45%;') %>
				</div>
				<% end %>

				<%= notice %>
				<% if(@routes != nil) ;row = -1%>
				<%= javascript_tag do %>
				window.searchNodes = <%= raw @routes.to_json(
          :include => {
          :src => {:only => [:path, :name]} ,
          :dest => {:only => [:path, :name]}
          },
          :only=>{} ) %>;
				<% end %>
				<% @routes.each do|route| %>
				<table class="table table-striped" >
					<thead>
						<tr>
							<th>ID</th>
							<th>Src</th>
							<th>Dest</th>
							<th>Cost</th>
							<th>Time</th>
							<th>Transportation</th>
						</tr>
					</thead>
					<tbody>
						<% route.each do |r| %>
						<tr>
							<td><%= r.id %></td>
							<td><%= r.src.name %></td>
							<td><%= r.dest.name %></td>
							<td><%= r.route.cost %></td>
							<td><%= r.duration %></td>
							<td><%= r.route.transportation.category%></td>
						</tr>
						<% end %>
				</table>
				<button type="button" style="margin-left: 90% ;" class="btn btn-big btn-success" onclick="map.showRoute(<%= row += 1%>)" >
					View
				</button>
				<hr />
				<% end %>

				</tbody>
				</table>
				<%end%>
				<table id="example7" class="table table-striped">
					<thead>
						<th></th>
					<th>
						1
					</th>
					<th>2</th>
					</thead>
					<tbody>
					<tr>
						<td id="expand">+</td>
						<td>
							ah
						</td>
						<td>
							ads
							</td>
					</tr>
					<tr>
						<td id="expand">+</td>
						<td>
							ah
						</td>
						<td>
							ads
							</td>
					</tr>
					</tbody>
					</table>
					<!-- <table id="ali" >
						<tr  >
						<td id="">+</td>
						<td>
							ah
						</td>
						<td>
							ads
							</td>
					</tr>
					
					</table> -->
			</div>
			<div class="span6" id="map_canvas" style="height: 100%" ></div>
		</div>
	</div>
	<br />
	<script>
		$(document).ready(function() {
			var oTable = $('#example7').dataTable();		
			function fnFormatDetails ( oTable, nTr )
			{
				var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
				sOut += '<tr><td>Rendering engine:</td><td>sad</td></tr>';
				sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
				sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
				sOut += '</table>';
				alert(sOut);
				return sOut;
			}

			$('#expand').live('click',function(){
				alert('f');
				var nTr = this.parentNode.parentNode;
				if ( this.innerHTML.match('-') )
				{
					/* This row is already open - close it */
					this.innerHTML = "+";
					oTable.fnClose(nTr );
				}
				else
				{
					/* Open this row */
					this.innerHTML = "-";
					oTable.fnOpen( nTr, fnFormatDetails(oTable, nTr) , 'table table-striped' );
				}

			});
		
		});

	</script>
	<%= javascript_tag do %>
	window.nodes = <%= raw Node.all.to_json(:only => [:name, :path, :id] ) %>;
	<% end %>
</body>