<body onload="">
    <div id="search_map" style="width:100%; height:100%"></div>
    <br />
    <%= form_tag(:action => "search") do |f|%>
    <table>
    	<tr>
    		<td>
    			<%= label_tag "Source District"%>			
    		</td>
    		<td>
    			<input id="src" name="src" type="text" class="auto"/>						
    		</td>
    	</tr>
    	<tr>
    		<td>
    			<%= label_tag "Dest District"%>			
    		</td>
    		<td>
    			<input id="dest" name="dest" type="text" class="auto" />
    		</td>
    		<td>
    			<%= submit_tag("Search") %>
    		</td>
    	</tr>
    </table>
    <% end %>
    <br />
    
    <%= notice %>
    
    <% if(@routes != nil) %>
	<style type="text/css">
		td
		{
			vertical-align: top;
		}
	</style>

	<% @routes.each do|route| %>
	<% nodes = ""%>
	<table border="1">
		<th>ID</th>
		<th>Cost</th>
		<th>Time</th>
		<th>Transportation</th>
		<% route.each do |r| %>
			<tr>
				<td><%= r.id %></td>
				<td><%= r.cost %></td>
				<td><%= r.time %></td>
				<td><%= r.transportation.name %></td>
				<td><%= link_to "Delete", :action => "destroy", :id => r.id %></td>
				<td><%= link_to "Edit", :action => "edit", :id => r.id %></td>
			</tr>
			<% nodes += r.src.path + "," %>
		<% end %>
		<% nodes += route.last.dest.path %>
		</table>
		<button type="button" onclick="view('<%=nodes%>')">View</button>
		<hr />
	<% end %>
	<%end%>
    <br />
    <%= link_to "Back", new_route_path %>
</body>