<!DOCTYPE html>
<html>
	<head>
		<title>Wadeeeeeeeeeeeeeeeny</title>
		<style type="text/css">
			html {
				height: 100%
			}
			body {
				height: 50%;
				margin: 0;
				padding: 0
			}
			#map_canvas {
				height: 20%
			}
		</style>
		<script type="text/javascript"
		src="http://maps.googleapis.com/maps/api/js?sensor=true&libraries=drawing,geometry&language=ar&region=eg"></script>
		<%= stylesheet_link_tag :all %>
		<%= stylesheet_link_tag "ui-darkness/jquery-ui-1.8.20.custom.css" %>
		<%= javascript_include_tag :defaults, "map.js" ,"view.js", "bootstrap.min.js",
      "jquery-1.7.1.min.js", "jquery-ui-1.8.18.custom.min.js", "equalheight.js","dropdown.js",
      "jquery.dataTables.min.js", "twitter_extension.js", "bootstrap-button.js" %>
		<style type="text/css">
			body {
				padding-top: 50px
			}
		</style>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="brand" href="/routes/search">Wadeeeeeny</a>
					<ul class="nav nav-pills">
						<%if(!current_user.nil?)%> <li class="divider-vertical"></li>
						<li class="dropdown" id="menu1">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#menu1"> Go To <b class="caret"></b> </a>
							<ul class="dropdown-menu">
								<%if(current_user.admin?)%>
								<li>
									<a href="/nodes">All Places</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/routes">All Routes</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/users">All Users</a>
								</li>
								<li class="divider"></li>
								<li class="divider"></li>
								<li>
									<a href="/userguide">User Guide</a>
								</li>
								<%else%>
								<li>
									<a href="/nodes">My Places</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/routes">My Routes</a>
								</li>
								<li class="divider"></li>
								<li class="divider"></li>
								<li>
									<a href="/userguide">User Guide</a>
								</li>
								<%end%>
							</ul>
						</li>
						<%end%> <li class="divider-vertical"></li>
						<li>
							<a href="/routes/new">Add Your Route !</a>
						</li>
						<li class="divider-vertical"></li>
						<li>
							<a href="/nodes/new">Describe Your City !</a>
						</li>
						<li class="dropdown" id="menu2">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#menu2"> Others' Routes <b class="caret"></b> </a>
							<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
								<%= render "routes/passing_by"%>
							</div>
						</li>
					</ul>
					<ul class="nav pull-right">
						<li class="divider-vertical"></li>
						<% if (!current_user.nil?) %>
						<li >
							<a href="/notifications">Notifications (<%= current_user.numOfUnread%> unread)</a>
						</li>
						<li class="divider-vertical"></li>
						<%end%>
						<%= render 'devise/menu/registration_items' %> <li class="divider-vertical"></li>
						<%= render 'devise/menu/login_items' %>
					</ul>
				</div>
			</div>
		</div>
		<%= yield %>
	</body>
</html>